__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

tf-env/
venv/
env/
ENV/
env.bak/
venv.bak/

.idea/

.vscode/

.ipynb_checkpoints

.python-version

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/

.env
.venv

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

